<script th:fragment="sideJs"            src="/assets/js/side.js"           type="module"></script>
<script th:fragment="calendarJs"        src="/assets/js/calendar.js"       type="module"></script>
<script th:fragment="dateJs"            src="/assets/js/date.js"           type="module"></script>
<script th:fragment="getHistorysJs"     src="/assets/js/getHistorys.js"    type="module"></script>
<script th:fragment="historyJs"         src="/assets/js/history.js"        type="module"></script>
<script th:fragment="modalJs"           src="/assets/js/modal.js"          type="module"></script>
<script th:fragment="roomJs"            src="/assets/js/room.js"           type="module"></script>
<script th:fragment="myCalendarJs"      src="/assets/js/myCalendar.js"     type="module"></script>
<script th:fragment="chatMessageJs"     src="/assets/js/chat/chatMessage.js" type="module"></script>
<script th:fragment="chatConfigJs"      src="/assets/js/config/chattingConfig.js" type="module"></script>
<script th:fragment="userJs"            src="/assets/js/user/user.js"       type="module"></script>
<script th:fragment="userConfigJs"      src="/assets/js/config/userConfig.js"   type="module"></script>
