<script th:fragment="sideJs"            src="/js/side.js"           type="module"></script>
<script th:fragment="calendarJs"        src="/js/calendar.js"       type="module"></script>
<script th:fragment="dateJs"            src="/js/date.js"           type="module"></script>
<script th:fragment="getHistorysJs"     src="/js/getHistorys.js"    type="module"></script>
<script th:fragment="generalJs"         src="/js/general.js"        type="module"></script>
<script th:fragment="modalJs"           src="/js/modal.js"          type="module"></script>

