
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <!-- 이미 static 아래로 리소스 경로가 잡혀있기에 th:prefix가 들어간 키워드를 써줌으로써 경로를 잡아줌 -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/room/room.css}">
    <title>money</title>
</head>
<body>

<div class="w-100 position-relative">
    <div class="w-100 vh-100 position-absolute">
        <!-- header -->
        <div class=" px-0 border-bottom border-info border-3">
            <ul class="nav d-flex justify-content-between">
                <li class="nav-item">
                    <a class="nav-link text-secondary" aria-current="page" href="#">
                        <h1>가계부</h1>
                    </a>
                </li>
                <li>
                    <th:block th:if="${member != null}">
                        <a href="">[[${member}]]</a>
                    </th:block>
                    <a href="/" class="btn">마이페이지</a>
                    <th:block th:if="${member != null}">
                        <form class="mx-0" action="/money_management/logout" method="POST">
                            <button class="btn logout mx-0" type="submit">로그아웃</button>
                        </form>
                    </th:block>
                </li>
            </ul>
        </div>
        <!-- main -->
        <div class="main w-100 d-flex justify-content-between">
            <!-- navigation -->
            <div class="side h-100 border-3 border-end border-info text-center d-flex flex-column align-items-center">
                <a href="/money_management/myCalendar" class="my-5 btn">기록하기</a>
                <a href="/money_management/statistic" class="my-5 btn">통계</a>
                <a href="/money_management/lobby" class="my-5 btn">lobby</a>
                <a href="" class="my-5 btn">1/n 계산</a>
            </div>
            <div class="chatting-container container w-25 d-flex flex-column ">
                <!-- current user container -->
                <div class="user-container container w-100 h-25 bg-info"></div>

                <!-- chatting msg container -->
                <div class="msg-container container w-100 h-75 bg-success"></div>
            </div>
            <!-- main frame -->
            <div th:replace="layout/calendar::calendar">

            </div>
        </div>
        <!-- footer -->
        <div class="border-3 border-top border-info d-flex justify-content-center py-5">
            <h5>연락 이메일</h5>
            <h6>opportunity@naver.com</h6>
        </div>
    </div>
</div>
<div th:replace="layout/modal::modal"></div>


    <th:block th:replace="layout/scripts::sideJs"></th:block>
    <th:block th:replace="layout/scripts::calendarJs"></th:block>
    <th:block th:replace="layout/scripts::dateJs"></th:block>
    <th:block th:replace="layout/scripts::modalJs"></th:block>
    <th:block th:replace="layout/scripts::roomJs"></th:block>
    <th:block th:replace="layout/scripts::getHistorysJs"></th:block>
    <th:block th:replace="layout/scripts::chatMessageJs"></th:block>
    <th:block th:replace="layout/scripts::chatConfigJs"></th:block>
</body>
</html>
